.ParentWorkHome__image {
  max-width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.ParentWorkHome {
  display: flex;
  justify-content: center;
}

#button-parent {
  position: absolute;
  bottom: 15%;
  right: 15%;
  z-index: 1;
}

.hidden {
  opacity: 0;
  transition: opacity 2s;
}

.show {
  opacity: 1;
}

@media screen and (max-width: 1240px) {
  #button-parent {
    position: absolute;
    bottom: 15%;
    right: 15%;
    z-index: 1;
  }
}
