/* SchoolWorkHome.css */
.school__header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.school__header__container {
  display: flex;
  /* border-top: 3px solid var(--blue-colour); */
  margin-top: 10px;
}

.school__header__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 1%;
}

.school__header__text {
  flex: 1;
  position: absolute;
  max-width: 80%;
}

.SchoolWorkHome__header {
  margin-bottom: 6rem;
  font-size: 60px;
  margin-left: 5%;
  text-decoration: none;
}

.SchoolWorkHome__quote {
  font-size: 50px;
  margin-bottom: 6rem;
  text-align: center;
  letter-spacing: 1px;
  line-height: 1.25;
  width: 40%;
}

#school__button {
  margin-left: 5%;
}

.SchoolWork__right {
  flex: 1;
  text-align: right;
}

.SchoolWork__right img {
  max-width: 50%;
  height: auto;
  margin-right: 0px;
}

@media screen and (max-width: 4600px) {
  .SchoolWorkHome__header {
    margin-bottom: 6rem;
    font-size: 70px;
  }

  .SchoolWorkHome__quote {
    font-size: 54px;
  }

  .School__header {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    align-content: stretch;
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 3000px) {
  .SchoolWorkHome__header {
    margin-bottom: 6rem;
    font-size: 70px;
  }

  .SchoolWorkHome__quote {
    font-size: 54px;
  }

  .School__header {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    align-content: stretch;
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 2400px) {
  .school__header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .SchoolWorkHome__header {
    margin-bottom: 6rem;
    font-size: 70px;
  }

  .SchoolWorkHome__quote {
    font-size: 54px;
  }
}

@media screen and (max-width: 2186px) {
  .SchoolWorkHome__header {
    margin-bottom: 6rem;
    font-size: 70px;
  }

  .SchoolWorkHome__quote {
    font-size: 54px;
  }
}

@media screen and (max-width: 1900px) {
  .SchoolWorkHome__header {
    margin-bottom: 6rem;
    font-size: 60px;
  }

  .SchoolWorkHome__quote {
    font-size: 48px;
  }

  #school__button {
    margin-left: 3%;
  }
}

@media screen and (max-width: 1760px) {
  .SchoolWorkHome__header {
    margin-bottom: 6rem;
    font-size: 50px;
  }

  .SchoolWorkHome__quote {
    font-size: 40px;
  }

  #school__button {
    margin-left: 1%;
  }
}

@media screen and (max-width: 1500px) {
  .SchoolWorkHome__header {
    margin-bottom: 1.5rem;
    font-size: 50px;
    margin-left: 10%;
  }

  .SchoolWorkHome__quote {
    font-size: 40px;
  }

  #school__button {
    font-size: 20px;
    background-color: rgba(47, 184, 229, 0.8);
    color: rgb(255, 255, 255);
    padding: 10px 23px;
    /* border-radius: 62% 38% 71% 29% / 26% 46% 54% 74%; */
    border-radius: 97% 3% 95% 5% / 19% 55% 45% 81%;
    margin: 20px;
    font-family: "DIN Next W01 Condensed Light";
    letter-spacing: 0.8px;
    width: 230px;
    height: fit-content;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    margin-left: 7%;
  }
}

/* SchoolWorkHome.css */

@media screen and (max-width: 1222px) {
  .SchoolWorkHome__header {
    font-size: 50px;
    margin: -22rem 5% 0 5%;
  }

  .SchoolWorkHome__quote {
    font-size: 30px;
    margin-bottom: 2rem;
    text-align: left;
    width: 110%;
    margin-left: 30px;
  }

  #school__button {
    font-size: 20px;
    background-color: rgba(47, 184, 229, 0.8);
    color: rgb(255, 255, 255);
    padding: 10px 23px;
    border-radius: 97% 3% 95% 5% / 19% 55% 45% 81%;
    margin: 20px;
    font-family: "DIN Next W01 Condensed Light";
    letter-spacing: 0.8px;
    width: 250px;
    height: fit-content;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    margin-left: 5%;
  }

  .SchoolWork__right {
    order: 2;
  }

  .SchoolWork__right img {
    max-width: 50%;
    height: auto;
    margin-top: 0%;
  }

  .school__header__text {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 980px) {
  .SchoolWorkHome__header {
    font-size: px;
    margin: -18rem 5% 0 5%;
  }

  .SchoolWorkHome__quote {
    font-size: 25px;
    margin-bottom: 0rem;
    text-align: left;
    width: 117%;
    margin-left: 30px;
  }

  #school__button {
    font-size: 20px;
    background-color: rgba(47, 184, 229, 0.8);
    color: rgb(255, 255, 255);
    padding: 10px 23px;
    border-radius: 97% 3% 95% 5% / 19% 55% 45% 81%;
    margin: 20px;
    font-family: "DIN Next W01 Condensed Light";
    letter-spacing: 0.8px;
    width: 200px;
    height: fit-content;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    margin-left: 5%;
  }

  .SchoolWork__right {
    order: 2;
  }

  .SchoolWork__right img {
    max-width: 50%;
    height: auto;
    margin-top: 0%;
  }

  .school__header__text {
    margin-top: 1rem;
  }
}
