.school-work p {
  text-align: center;
  font-size: 40px;
  letter-spacing: 0px;
  margin: 0 15%;
}

#school-work p {
  padding-top: 20px;
  padding-bottom: 30px;
}

.h1-schoolwork {
  text-align: center;
}

.school-purple {
  background-color: var(--purplelight-colour);
}

.buttons-school {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.school-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  padding-top: 40px;
  width: 60%;
  height: 60%;
  object-fit: scale-down; /* There is commented out CSS in CoachingTeenagers.css page that I commented out which may have change styling elsewhere */
}

@media screen and (max-width: 1024px) {
  .image {
    width: 75%;
    height: 100%;
  }

  #school-work p {
    font-size: 35px;
  }
}
