.about-us p {
  text-align: center;
  font-size: 25px;
  letter-spacing: 0px;
}

.about-purple {
  background-color: var(--purplelight-colour);
}

@media screen and (max-width: 1440px) {
  .about-us p {
    font-size: 25px;
  }
}

@media screen and (max-width: 1024px) {
  .about-us p {
    font-size: 15px;
  }
  .about-purple {
    padding: 50px 50px;
  }
}

@media screen and (max-width: 768px) {
  .about-us p {
    font-size: 20px;
  }
}
