.header {
  color: rgb(255, 255, 255); /* Set your desired text color */
  position: relative;
}

.header__container {
  display: flex;
  justify-content: center;
}

.header__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the start (left) */
  position: relative; /* Position relative for absolute positioning of button */
}

.header__image {
  position: relative; /* Position relative for absolute positioning of button */
}

.header__image img {
  width: 100%;
  max-width: 100%; /* Ensure the image doesn't exceed its container */
  height: auto;
  margin-right: 0px;
}

#about-btn {
  position: absolute; /* Position the button absolutely */
  bottom: 15%; /* Adjust bottom spacing as needed */
  left: 0px; /* Adjust left spacing as needed */
  z-index: 1; /* Ensure button is above the image */
}

#about-btn:hover {
  font-size: 22px;
}

@media screen and (max-width: 1200px) {
  #about-btn {
    position: absolute; /* Position the button absolutely */
    bottom: 2%; /* Adjust bottom spacing as needed */
    left: 10px; /* Adjust left spacing as needed */
    z-index: 1; /* Ensure button is above the image */
    width: 16%;
  }

  #about-btn:hover {
    font-size: 12px;
  }
}
@media screen and (max-width: 910px) {
  #about-btn {
    position: absolute; /* Position the button absolutely */
    bottom: 1%; /* Adjust bottom spacing as needed */
    left: 10px; /* Adjust left spacing as needed */
    z-index: 1; /* Ensure button is above the image */
    font-size: 12px;
  }
}
@media screen and (width: 600px) {
  #about-btn {
    position: absolute; /* Position the button absolutely */
    bottom: 0.5%; /* Adjust bottom spacing as needed */
    left: 10px; /* Adjust left spacing as needed */
    z-index: 1; /* Ensure button is above the image */
    font-size: 10px;
  }
}
