/* Navbar.css */

/* Navbar Container */
.navbar {
  background-color: white;
  padding: 0 20px; /* Reduce the padding for smaller screens */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  top: 0;
  /* border: 1px solid #333; */
  z-index: 999;
}

/* Top Half */
.navbar__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar__left img,
.navbar__right img {
  object-fit: contain;
  height: 175px; /* Reduce the height for smaller screens */
  margin-right: 10px;
  margin-top: 10px;
}

.navbar__center {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar__item {
  font-size: 75px; /* Reduce font size for smaller screens */
  text-transform: uppercase;
  font-weight: 900;
  margin-top: 10px; /* Adjust for smaller screens */
  vertical-align: middle; /* Center vertically */
}

.navbar__item Link {
  color: #a56eb0;
}

.navbar__item span {
  display: block;
}

.navbar__subtitle {
  background-color: #2fb8e5;
  color: rgb(255, 255, 255);
  padding: 8px 20px;
  /* Add any other styles you want to keep the same */
  pointer-events: none;
}

/* Apply hover styles to all list items except .navbar__subtitle */
.nav__links li:hover {
  background-color: #2fb8e5;
  color: white;
  transition: ease-in-out 0.25s;
  cursor: pointer;
}

/* Bottom Half */
.navbar__bottom {
  display: flex;
  justify-content: space-around;
  width: 100%;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.navbar__link {
  text-decoration: none;
  color: var(--purple-colour);
  font-family: "DIN Next W01 Condensed Ultra Light";
  letter-spacing: 3px;
}

.navbar__link__btn {
  text-decoration: none;
  font-size: 40px; /* Reduce font size for smaller screens */
  color: var(--grey-colour);
  padding: 0px 0px; /* Reduce padding for smaller screens */
}

.navbar__link__btn:hover {
  text-decoration: none;
  font-size: 40px;
  background-color: var(--purple-colour);
  color: white;
  border-radius: 40px;
  transition: ease-in-out 0.5s;
  padding: 10px 20px;
}

/* Dropdown Styles */
.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--blue-colour);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 20px;
  margin-top: 10px;
}

.dropdown-content a {
  padding: 12px 16px;
  display: block;
  text-decoration: none;
  color: #333;
  border-bottom: 1px solid #333;
  font-size: 30px;
}

.dropdown-content a:last-child {
  border-bottom: none;
}

.dropdown-content a:hover {
  background-color: #f2f2f2;
  font-size: 35px;
  transition: ease-in-out 0.25s;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.close-icon {
  color: var(--purple-colour);
  font-size: 70px;
}

/* LARGER IPADS */
/* Media Queries */
@media screen and (max-width: 1440px) {
  .navbar__item {
    font-size: 60px;
  }

  .navbar {
    padding: 10px 10px;
  }

  .navbar__left img {
    height: 120px;
  }

  .navbar__center {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .hamburger-icon {
    font-size: 80px;
    cursor: pointer;
    margin-right: 50px;
    margin-left: 50px;
  }

  .close-icon {
    font-size: 71px;
  }

  .navbar__right img {
    display: none;
  }

  .navbar__bottom {
    display: none;
  }

  .mobile-dropdown {
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    background-color: var(
      --purple-colour
    ); /* Set your desired background color */
    z-index: 1000; /* Adjust z-index as needed */
    width: 50%; /* Set your desired width */
    overflow-y: auto; /* Enable vertical scrolling if needed */
    margin-top: 220px;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
    font-family: "DIN Next W01 Condensed Light";
    transition: 0.6s cubic-bezier(0.62, 0.04, 0.3, 1.56);
  }

  .mobile-dropdown.open {
    transform: translateX(0%);
  }

  .nav__links li {
    border-bottom: #2fb8e5 3px solid;
    border-radius: 10px;
    padding: 10px 30px;
    margin: 10px;
    font-size: 50px;
    letter-spacing: 2.5px;
    color: black;
  }

  .nav__links li:hover {
    background-color: #2fb8e5;
    transition: ease-in-out 0.25s;
    cursor: pointer;
  }

  .dropdown-image {
    height: 300px;
    width: fit-content;
    margin-top: 40px !important;
    margin: auto;
    border-radius: 10px;
    border: #2fb8e5 3px solid;
  }

  .nav__link-content {
    color: white;
  }
}

/* MOBILE AND SMALL IPADS (IPHONE 14) */
@media screen and (max-width: 1028px) {
  .navbar__item {
    font-size: 60px;
    padding-top: 0.5rem;
    font-weight: 100;
  }

  .navbar {
    padding: 10px 10px;
  }

  .navbar__left img {
    height: 75px;
  }

  .navbar__center {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .navbar__subtitle {
    font-size: 20px;
    width: 338px;
    height: 43px;
    padding: 9px 20px;
  }

  .hamburger-icon {
    font-size: 100px;
    cursor: pointer;
    margin-right: 50px;
    margin-left: 50px;
  }

  .close-icon {
    font-size: 90px;
  }

  .navbar__right img {
    display: none;
  }

  .navbar__bottom {
    display: none;
  }

  .mobile-dropdown {
    border-radius: 0px;
    margin-top: 224px;
  }

  .mobile-dropdown {
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    background-color: var(
      --purple-colour
    ); /* Set your desired background color */
    z-index: 1000; /* Adjust z-index as needed */
    width: 100%; /* Set your desired width */
    overflow-y: auto; /* Enable vertical scrolling if needed */
    margin-top: 215px;
    text-align: center;
    justify-content: center;
    border-radius: 0px;
    font-family: "DIN Next W01 Condensed Light";
    transition: 0.6s cubic-bezier(0.62, 0.04, 0.3, 1.56);
  }

  .nav__links li {
    border-bottom: #2fb8e5 3px solid;
    border-radius: 10px;
    padding: 40px 30px;
    margin: 10px;
    font-size: 70px;
    letter-spacing: 2.5px;
    color: black;
    padding-bottom: 40px;
  }

  .nav__links li:hover {
    background-color: #2fb8e5;
    transition: ease-in-out 0.25s;
    cursor: pointer;
  }
}

/* VERY SMALL MOBILES */
@media screen and (max-width: 704px) {
  .navbar__item {
    font-size: 35px;
  }

  .navbar__subtitle {
    font-size: 18px;
    width: 330px;
    height: 36px;
    padding: 6px 20px;
  }

  .navbar__left img {
    height: 50px;
  }

  .close-icon {
    font-size: 70px;
    margin-left: 10px;
    margin-top: 10px;
  }

  .hamburger-icon {
    font-size: 80px;
  }

  .mobile-dropdown {
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    background-color: var(
      --purple-colour
    ); /* Set your desired background color */
    z-index: 1000; /* Adjust z-index as needed */
    width: 100%; /* Set your desired width */
    overflow-y: auto; /* Enable vertical scrolling if needed */
    margin-top: 235px;
    text-align: center;
    justify-content: center;
    border-radius: 0px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    transition: 0.6s cubic-bezier(0.62, 0.04, 0.3, 1.56);
  }

  .mobile-dropdown.open {
    transform: translateX(0%);
  }

  .nav__links li {
    border-bottom: #2fb8e5 3px solid;
    border-radius: 10px;
    padding: 10px 30px;
    margin: 10px;
    font-size: 50px;
    letter-spacing: 2.5px;
    color: black;
    padding-bottom: 40px;
  }

  .nav__links li:hover {
    background-color: #2fb8e5;
    transition: ease-in-out 0.25s;
    cursor: pointer;
  }

  .nav__link-content {
    color: white;
  }
}
