#resources-btn {
  align-items: center;
  justify-content: center;
  display: flex;
  margin-bottom: 10px;
}

.resources-head {
  font-size: 60px;
}

.resources-us p {
  text-align: center;
  font-size: 40px;
  letter-spacing: 1px;
}

.resources {
  background-color: white;
}

@media screen and (max-width: 1440px) {
  .resources-us p {
    font-size: 30px;
  }
}

@media screen and (max-width: 1024px) {
  .resources-us p {
    font-size: 30px;
  }
}

@media screen and (max-width: 768px) {
  .resources-us p {
    font-size: 20px;
  }
}
