.carousel__container {
  width: 100%;
  overflow: hidden;
  position: relative;
  /* margin-top: 2rem; */
  border-top: var(--blue-colour) 3px solid;
}

.carousel__inner {
  display: flex;
  animation: scrollAnimation 57s linear infinite; /* Adjust the duration for the scroll speed */
}

.carousel__item {
  flex: 0 0 calc(100% / 8 - 10px); /* Display 6 items at a time with spacing between logos */
  margin-right: 100px; /* Adjust the spacing between logos */
  overflow: hidden;
  border-radius: 0.5rem;
  align-items: center;
  padding: 0px;
  display: flex;
  border-radius: 20px;
  /* box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25); */
  margin-top: -30px;
  margin-bottom: -5px;
}

.carousel__item img {
  width: 100%;
  height: auto;
  object-fit: contain; /* Maintain aspect ratio and fit the logo within the container */
}

.where-we-worked {
  text-align: center;
  font-size: 90px;
}

@keyframes scrollAnimation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(
      calc(-100% * 6)
    ); /* Adjust the percentage for the number of logos displayed */
  }
}

@media screen and (max-width: 1440px) {
  .carousel__item {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(100% / 5 - 10px);
    margin-right: 80px;
    overflow: hidden;
    border-radius: 0.5rem;
    align-items: center;
    padding: 0px;
    display: flex;
    margin-top: -30px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 980px) {
  .where-we-worked {
    font-size: 60px;
  }
}

@media screen and (max-width: 600px) {
  .carousel__container {
    flex-basis: calc(100% / 3 - 10px);
  }
}
