/* .coaching-section {
  padding: 50px 50px;
} */

.CoachingWorkHome {
  display: flex;
  justify-content: center;
  align-items: center;
}

.CoachingHome__image {
  max-width: 100%;
  height: auto;
  margin-top: -5%;
}

#button-coaching {
  font-size: 3vw; /* Responsive font size */
  background-color: rgba(47, 184, 229, 0.8);
  color: rgb(255, 255, 255);
  padding: 2vw 4vw; /* Responsive padding */
  border-radius: 97% 3% 95% 5% / 19% 55% 45% 81%;
  margin: 2vh 2vw; /* Responsive margin */
  font-family: "DIN Next W01 Condensed Light";
  letter-spacing: 0.2vw; /* Responsive letter spacing */
  width: fit-content;
  height: fit-content;
  text-shadow: 0.1vw 0.1vw 0.2vw rgba(0, 0, 0, 0.2); /* Responsive shadow */
  box-shadow: 0.2vw 0.4vw 0.6vw rgba(0, 0, 0, 0.3); /* Responsive shadow */
  position: absolute;
  bottom: 4vw; /* Adjust bottom spacing */
  right: 14%; /* Adjust right spacing */
}

#button-coaching:hover {
  background-color: rgba(47, 184, 229, 1);
  transition: ease-in-out 0.5s;
}

.CoachingWorkHome {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* Ensure positioning context for absolutely positioned button */
}

.CoachingHome__image {
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 768px) {
  #button-coaching {
    font-size: 5vw; /* Adjust font size for smaller screens */
    padding: 3vw 6vw; /* Adjust padding for smaller screens */
    margin: 3vh 3vw; /* Adjust margin for smaller screens */
    letter-spacing: 0.3vw; /* Adjust letter spacing for smaller screens */
    text-shadow: 0.2vw 0.2vw 0.3vw rgba(0, 0, 0, 0.2); /* Adjust shadow for smaller screens */
    box-shadow: 0.3vw 0.5vw 0.7vw rgba(0, 0, 0, 0.3); /* Adjust shadow for smaller screens */
    bottom: 5vw; /* Adjust bottom spacing for smaller screens */
    right: 5vw; /* Adjust right spacing for smaller screens */
  }
}

@media screen and (max-width: 1200px) {
  .CoachingHome__image {
    max-width: 100%;
    height: auto;
  }
}
