*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

/* index.css */
:root {
  --purple-colour: #a56eb0;
  --blue-colour: #2fb8e5;
  --darkpurple-colour: #7951a0;
  --purplelight-colour: rgba(165, 110, 176, 0.1);
  --grey-colour: #797575;
  --pink-colour: #fa85b4;

  --font-heavy: "DIN Next W01 Condensed Regular";
  --font-medium: "DIN Next W01 Condensed Light";
  --font-light: "DIN Next W01 Condensed Ultra Light";

  --container-width-lg: 80%;
  --container-width-md: 90%;
  --container-width-sm: 97%;
}

body {
  font-family: "DIN Next W01 Condensed Light";
  color: black;
  line-height: 1;
  overflow-x: hidden;
  background: rgba(255, 255, 255, 0.35);
  position: relative;
  letter-spacing: 1px;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-image: url('../src/assets/images/image4.jpeg'); */
  opacity: 0.25;
  z-index: -1;
}

.container {
  width: var(--container-width-lg);
  max-width: 1920px;
  margin: auto;
  padding: 20px 20px;
  border: var(--blue-colour) 3px solid;
  background-color: white;
  color: var(--grey-colour);
  border-radius: 20px;
}

@keyframes slideBorder {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* Apply the animation to the section with the border */
section {
  background-color: rgb(255, 255, 255);
  border-top: 0px solid transparent; /* Initially, set the border to transparent */
  padding: 50px 100px;
  position: relative; /* Ensure relative positioning for pseudo-element */
}

/* Create a pseudo-element to represent the animated border */
section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0; /* Start with a width of 0 */
  height: 3px; /* Border height */
  background-color: var(--blue-colour); /* Blue color */
  animation: slideBorder 3s linear forwards; /* Apply the animation */
  animation-delay: 0.5s; /* Delay the animation for half a second */
  z-index: 1; /* Ensure the border is above the section content */
}

section h1 {
  font-size: 60px;
  color: var(--purple-colour);
  text-decoration: underline;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  margin-top: 0.5rem;
  overflow: hidden;
  font-family: var(--font-heavy);
}

h1 {
  font-size: 60px;
  margin-bottom: 2rem;
  margin-top: 2rem;
  color: var(--purple-colour);
  text-decoration: underline;
  font-weight: 100;
  font-family: var(--font-medium);
}

h2 {
  font-size: 60px;
  margin-bottom: 2rem;
  color: var(--purple-colour);
  margin-top: 2rem;
  font-weight: 100;
  font-family: var(--font-medium);
}

h3 {
  font-size: 30px;
  margin-bottom: 2rem;
  color: var(--grey-colour);
  margin-top: 2rem;
  text-align: center;
  font-weight: 100;
  font-family: var(--font-light);
}

a {
  /* font-size: 20px; */
  margin-bottom: 1rem;
  color: var(--grey-colour);
}

p {
  font-size: 40px;
  margin-bottom: 1rem;
  color: var(--grey-colour);
  font-weight: 100;
}

img {
  /* display: block; */
  object-fit: cover;
  /* max-width: 100%; */
}

.btn-small {
  font-size: 20px;
  background-color: rgba(47, 184, 229, 0.8);
  color: rgb(255, 255, 255);
  padding: 8px 20px;
  /* border-radius: 62% 38% 71% 29% / 26% 46% 54% 74%; */
  border-radius: 97% 3% 95% 5% / 19% 55% 45% 81%;
  margin: 20px;
  font-family: "DIN Next W01 Condensed Light";
  letter-spacing: 0.8px;
  width: fit-content;
  height: fit-content;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.btn-small:hover {
  background-color: var(--blue-colour);
  color: white;
  transition: ease-in-out 0.5s;
  padding: 6px 20px;
  cursor: pointer;
  font-size: 30px;
}

.btn-medium {
  font-size: 30px;
  background-color: rgba(47, 184, 229, 0.8);
  color: rgb(255, 255, 255);
  padding: 10px 23px;
  /* border-radius: 62% 38% 71% 29% / 26% 46% 54% 74%; */
  border-radius: 97% 3% 95% 5% / 19% 55% 45% 81%;
  margin: 20px;
  font-family: "DIN Next W01 Condensed Light";
  letter-spacing: 0.8px;
  width: fit-content;
  height: fit-content;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.btn-medium:hover {
  background-color: var(--blue-colour);
  color: white;
  transition: ease-in-out 0.5s;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 40px;
}

.btn-large {
  font-size: 30px;
  background-color: rgba(47, 184, 229, 0.8);
  color: rgb(255, 255, 255);
  padding: 15px 20px;
  /* border-radius: 62% 38% 71% 29% / 26% 46% 54% 74%; */
  border-radius: 97% 3% 95% 5% / 19% 55% 45% 81%;
  margin: 40px;
  font-family: "DIN Next W01 Condensed Light";
  letter-spacing: 2px;
  width: fit-content;
  height: fit-content;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.btn-large:hover {
  background-color: var(--blue-colour);
  color: white;
  transition: ease-in-out 0.5s;
  padding: 20px 35px;
  cursor: pointer;
  font-size: 40px;
}

.btn-cool {
  font-size: 30px;
  background-color: rgba(47, 184, 229, 0.8);
  color: rgb(255, 255, 255);
  padding: 15px 20px;
  /* border-radius: 62% 38% 71% 29% / 26% 46% 54% 74%; */
  border-radius: 84% 16% 87% 13% / 13% 83% 17% 87%;
  margin: 10px;
  font-family: "DIN Next W01 Condensed Light";
  letter-spacing: 2px;
  width: fit-content;
  height: fit-content;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.btn-cool:hover {
  background-color: var(--blue-colour);
  color: white;
  transition: ease-in-out 0.5s;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 40px;
}

.btn-xlcool {
  font-size: 35px;
  background-color: rgba(47, 184, 229, 0.8);
  color: rgb(255, 255, 255);
  padding: 25px 35px;
  /* border-radius: 62% 38% 71% 29% / 26% 46% 54% 74%; */
  border-radius: 84% 16% 87% 13% / 13% 83% 17% 87%;
  margin: 10px;
  font-family: "DIN Next W01 Condensed Light";
  letter-spacing: 2px;
  width: fit-content;
  height: fit-content;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.btn-xlcool:hover {
  background-color: var(--blue-colour);
  color: white;
  transition: ease-in-out 0.5s;
  padding: 20px 30px;
  cursor: pointer;
  font-size: 40px;
}

.btn-xlarge {
  font-size: 30px;
  background-color: rgba(47, 184, 229, 0.8);
  color: rgb(255, 255, 255);
  padding: 25px 30px;
  /* border-radius: 62% 38% 71% 29% / 26% 46% 54% 74%; */
  border-radius: 97% 3% 95% 5% / 19% 55% 45% 81%;
  margin: 20px;
  font-family: "DIN Next W01 Condensed Light";
  letter-spacing: 2px;
  width: fit-content;
  height: fit-content;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.btn-xlarge:hover {
  background-color: var(--blue-colour);
  color: white;
  transition: ease-in-out 0.5s;
  padding: 20px 30px;
  cursor: pointer;
  font-size: 40px;
}

.btn-standard {
  font-size: 30px;
  background-color: rgba(255, 255, 255, 0.8);
  border: 3px solid var(--grey-colour);
  color: rgb(94, 94, 94);
  padding: 25px 30px;
  border-radius: 20px;
  margin: 20px;
  font-family: "DIN Next W01 Condensed Light";
  letter-spacing: 2px;
  width: fit-content;
  height: fit-content;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.btn-standard:hover {
  background-color: var(--blue-colour);
  color: white;
  transition: ease-in-out 0.25s;
  padding: 28px 33px;
  cursor: pointer;
  font-size: 33px;
}

@media screen and (max-width: 1440px) {
  .container {
    width: var(--container-width-md);
  }
}

@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-sm);
  }
}
